* {
  font-family: sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444;
  opacity: 1; /* Firefox */
}

.input {
  margin: 8px 4px 8px 0;
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: solid 1px #41397c;
  color: black;
}

.searchInput {
  width: 70%;
  height: 64px;
  background: #E1DEEC;
  border: none;
  border-radius: 15px;
  padding: 0 16px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  font-size: 1.4em;
  margin: 16px;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-section-wrapper {
  width: 70%;
  max-height: 500px;
  min-height: 100px;
  overflow-y: scroll;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: #E1DEEC;
  align-items: center;
  margin-bottom: 8px;
}

.title--page-section-wrapper {
  display: flex;
  flex-direction: column;
  background: #755F9F;
  width: 70%;
  min-width: 300px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  min-height: 64px;
  margin-top: 8px;
  padding: 8px 16px;
  align-items: flex-start;
  justify-content: center;
}

.title-text--page-section-header {
  margin: 0;
  padding: 0;
  color: white;
}

.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  max-width: 140px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #FFF;
  background: #41397c;
  text-decoration: none;
  margin: 4px 0;
  transition: all 0.15s ease;
}

.button:focus {
  border: 1px solid #FF8D00;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.formInput {
  background: none;
  border: none;
  width: 100%;
  margin: 8px;
  font-size: 1.2em;
  border-bottom: 2px #41397c solid;
  color: #444;
}

.formInput:focus {
  border-bottom: 2px #FF8D00 solid;
}

.input-error {
  color: red;
  font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}