.input {
  margin: 8px 4px 8px 0;
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: solid 1px #41397c;
  color: black;
}

.searchInput {
  width: 70%;
  height: 64px;
  background: #E1DEEC;
  border: none;
  border-radius: 15px;
  padding: 0 16px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  font-size: 1.4em;
  margin: 16px;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  max-width: 140px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #FFF;
  background: #41397c;
  text-decoration: none;
  margin: 4px 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}