.wrapper-soft-bg {
  display: flex;
  flex-direction: column;
  background: #E1DEEC;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.logo-nonav {
  height: 70%;
  width: auto;
  margin: 16px 0;
}

#logo-wrap {
  height: 100%;
}

.top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  width: 100%;
}

.central-content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1000px;
  height: 750px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  margin: 32px;
  padding: 64px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.formInputForgotPassword {
  background: none;
  border: none;
  width: 70%;
  margin: 8px;
  font-size: 1.2em;
  border-bottom: 2px #41397c solid;
  color: #444;
}

.formInputForgotPassword:focus {
  border-bottom: 2px #FF8D00 solid;
}

#header-custom {
  font-weight: bold;
}

.part-fgp {
  height: 100%;
  margin: 0 16px;
  width: 50%;
}

#forgot-password-message {
  max-width: 70%;
}