.forgot-password {
  margin: 0;
  padding: 0;
}

.forgot-password__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  max-width: 500px;
  padding: 75px 16px;
  margin: 0 auto;
}