#bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100vw; */
  height: 72px;
  border-bottom: 4px #E36700 solid;
}

.part {
  flex-grow: 3;
  margin: 0 16px;
  width: 30%;
}

.right-bar {
  display: flex;
  justify-content: center;
  align-self: auto;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
}