.app-wrapper {
  box-sizing: border-box;
  margin: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.right-content {
  display: flex;
  flex-direction: column;
  flex-grow: 11;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  /* margin: 32px auto; */
  height: 80vh;
  overflow: hidden;
  /* justify-content: center; */
  max-width: 1200px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px;
  background: #6d5fd4;
  color: white;
  padding: 8px;
  height: 500px;
  min-width: 240px;
  max-height: 500px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
}

.books-lists {
  display: flex;
  flex-direction: column;
  flex-grow: 50;
}

.posts {
  overflow-y: scroll;
  max-height: 650px;
  padding: 8px;
}

.posts-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}