.app-wrapper {
  box-sizing: border-box;
  margin: 0;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 70px;
  color: white;
  background: #222;
  font-size: 1.5em;
  padding: 0 16px;
}

.title {
  font-size: 1.4em;
}

.header {
  font-size: 2em;
}

.left {
  display: flex;
  align-items: center;
  flex-grow: 3;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.right {
  display: flex;
  justify-content: center;
  align-self: auto;
  flex-grow: 3;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.profile-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px;
  background: #6d5fd4;
  color: white;
  padding: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
}

.books-lists {
  display: flex;
  flex-direction: column;
}

.posts-section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #6d5fd4;
  flex-grow: 10;
  margin: 16px;
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.searchInput {
  border-radius: 20px;
  border: none;
  padding: 8px;
  max-width: 300px;
  color:#000;
  background: white;
}