.photo-bg {
  background-image: url("../images/gradientFirstPageCompressed.jpg");
  height: 95vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  height: 100%;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}

.steps {
  font-weight: bold;
}

.headerBar {
  position: fixed;
  background-color: rgba(0,0,0, 0.80);
  width: 100%;
  z-index: 11;
  margin-top: 0%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  display: block;
}

.logo {
  display: block;
  height: 100%;
  float: left;
  font-size: 20pt;
  font-weight: bold;
}

#logoPic {
  height: 40px;
  width: auto;
}

.pageLinks {
  padding-right: 5%;
  display: block;
  padding-top: 0.5%;
  height: 100%;
  float: right;
  font-size: 14pt;
  font-weight: bold;
  white-space: nowrap;
}

.landingPageLink {
  text-align: center;
  color: white;
  padding: 0% 2.5%;
  text-decoration: none;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.landingPageLink:hover {
  color: #FFB814;
  text-decoration: none;
}

.landingPageLink:active {
  color: #FFB814;
}

#missionLink, #teamLink, #preRegisterLink {
  color: white;
}

.mainText{
  font-family: "orkneybold";
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-wrapper {
  width: 60%;
  max-width: 780px;
}

#landing-search {
  border-radius: 6px;
  width: 100%;
  border: none;
  box-shadow: 3px 18px 20px rgba(0, 0, 0, .24);
  height: 50px;
  margin: 16px 0;
  padding: 8px 16px;
  font-size: 1.4em;
}

#landing-books {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 16px 0;
  box-shadow: 3px 18px 20px rgba(0, 0, 0, .24);
  background: white;
  height: 400px;
  overflow-y: scroll;
  border-radius: 6px;
  z-index: 10;
}

.landing-section {
  display: flex;
  flex-direction: row;
  padding: 16px 12%;
  width: 100%;
  background: white;
  height: 37vh;
}

.purple {
  background: rgba(78, 43, 132, .06);
}

.text-content-landing {
  display: flex;
  text-align: left;
  width: 50%;
  flex-direction: column;
}

.header-line-landing {
  background: #707070;
  height: 1px;
  width: 150px;
  margin: 0 8px 8px 8px;
  align-self: flex-start;
}

.img-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  align-items: flex-start;
}

.landingpage h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  letter-spacing: 2.5px;
  font-weight: bold;
  margin: 16px 0;
 }

 #scroll-down {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 46px;
   height: 46px;
   border-radius: 50%;
   box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
   background: white;
   z-index: 10;
   position: absolute;
   margin: calc(90vh + 23px) calc(50vw - 23px);
 }

 .landing-img {
   width: auto;
   height: 85%;
   border-radius: 6px;
   box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
 }

 .landing-header-title {
   width: 100%;
   text-align: left;
   font-family: "orkneymedium";
   font-size: 34px;
   color: #343434;
 }

 .landing-para {
  font-family: "orkneyregular";
  font-size: 20px;
  color: #343434;
 }

.footer {
  position: relative;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 14pt;
  font-style: italic;
  font-weight: bold;
  padding: 1% 12%;
  background-color: #393939;
}

.bottomLinksCol {
  font-style: normal;
  margin-right: 18px;
  float: left;
  text-align: left;
}

.bottomPageLink {
  font-family: "orkneyregular";
  font-weight: normal;
  color: #EAEAEA;
  font-size: 12pt;
  text-decoration: none;
}

.bottomPageLink:hover {
  color: #FFF;
  text-decoration: none;
}

.buttonLink:hover {
  text-decoration: none;
}

.bottomLinkHeader {
  font-family: "orkneybold";
  color: #FFF;
  font-size: 14pt;
}

#copyright {
  font-family: "orkneyregular";
  text-align: center;
  justify-content: center;
  color: white;
  background-color: #393939;
  padding-bottom: 2.5%;
}

.landing-para {
  padding: 8px 0;
}

#socialMedia {
  text-align: center;
  justify-content: center;
  background-color: #393939;
}

.logoImage {
  margin: 2.5% 0.5%;
  max-width: 50px;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.logoImage:hover {
  opacity: 0.50;
}

.buttonLink {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .landing-section {
    flex-direction: column;
    max-height: none;
    width: 100vw;
    padding: 16px;
    min-height: 632px;
  }
  .text-content-landing, .img-content {
    width: 95%;
    max-height: none;
  }
  .landing-img {
    width: 90%;
    height: auto;
  }
  .left {
    align-items: center;
  }
  #search-wrapper {
    width: 95vw;
  }
  #landing-books {
    max-height: 300px;
  }
  .landingpage h1 {
    margin-top: 64px;
    font-size: 3em;
  }
}