.photo-bg {
  background-image: url("../images/gradientFirstPageCompressed.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  height: 100%;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}

.steps {
  font-weight: bold;
}

.headerBar {
  position: fixed;
  background-color: rgba(0,0,0, 0.80);
  width: 100%;
  z-index: 1;
  margin-top: 0%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  display: block;
}

.logo {
  display: block;
  height: 100%;
  float: left;
  font-size: 20pt;
  font-weight: bold;
}

#logoPic {
  height: 40px;
  width: auto;
}

.pageLinks {
  padding-right: 5%;
  display: block;
  padding-top: 0.5%;
  height: 100%;
  float: right;
  font-size: 14pt;
  font-weight: bold;
  white-space: nowrap;
}

.landingPageLink {
  text-align: center;
  color: white;
  padding: 0% 2.5%;
  text-decoration: none;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.landingPageLink:hover {
  color: #FFB814;
  text-decoration: none;
}

.landingPageLink:active {
  color: #FFB814;
}

.productLink {
  color: white;
}

#missionLink, #teamLink, #preRegisterLink {
  color: white;
}

.mainText{
  font-family: "orkneybold";
  letter-spacing: 2.5px;
  position: relative;
  height: 100vh;
  width: 100%;
  text-shadow: 0px 2px 8px rgba(0,0,0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-section {
  display: flex;
  flex-direction: row;
  padding: 16px 12%;
  width: 100vw;
  background: white;
  height: 37vh;
}

.purple {
  background: rgba(78, 43, 132, .06);
}

.text-content-landing {
  display: flex;
  text-align: left;
  width: 50%;
  flex-direction: column;
}

.header-line-landing {
  background: #707070;
  height: 1px;
  width: 150px;
  margin: 0 8px 8px 8px;
}

.img-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  align-items: flex-start;
}

.landingpage h1 {
  color: white;
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
 }

 .landing-img {
   width: auto;
   height: 85%;
   border-radius: 6px;
   box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
 }

 .landing-header-title {
   width: 100%;
   text-align: left;
   font-family: "orkneymedium";
   font-size: 34px;
   color: #343434;
 }

 .landing-para {
  font-family: "orkneyregular";
  font-size: 20px;
  color: #343434;
 }

.footer {
  position: relative;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  text-shadow: 0px 2px 8px rgba(0,0,0, 0.50);
  font-size: 14pt;
  font-style: italic;
  font-weight: bold;
  padding: 1% 12%;
  background-color: #393939;
}

.barterOutButton:focus {
  outline: 0;
}

.bottomLinksCol {
  font-style: normal;
  margin-right: 18px;
  float: left;
  text-align: left;
}

.bottomPageLink {
  font-family: "orkneyregular";
  font-weight: normal;
  color: #EAEAEA;
  font-size: 12pt;
  text-decoration: none;
}

.bottomPageLink:hover {
  color: #FFF;
  text-decoration: none;
}

.buttonLink:hover {
  text-decoration: none;
}

.bottomLinkHeader {
  font-family: "orkneybold";
  color: #FFF;
  font-size: 14pt;
}

#copyright {
  font-family: "orkneyregular";
  text-align: center;
  justify-content: center;
  color: white;
  background-color: #393939;
  padding-bottom: 2.5%;
}

.landing-students-img {
  max-width: 490px;
  width: 45vw;
}

.landing-para {
  padding: 8px 0;
}

#socialMedia {
  text-align: center;
  justify-content: center;
  background-color: #393939;
}

.logoImage {
  margin: 2.5% 0.5%;
  max-width: 50px;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.logoImage:hover {
  opacity: 0.50;
}

.buttonLink {
  text-decoration: none;
}