body {
    background-image: url("../images/gradientFirstPageCompressed.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app {
    height: 100%;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
}

.steps {
    font-weight: bold;
}

.headerBar {
    position: fixed;
    background-color: rgba(0,0,0, 0.80);
    width: 100%;
    z-index: 1;
    margin-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    display: block;
    vertical-align: middle;
}

.logo {
    display: block;
    vertical-align: middle;
    height: 100%;
    float: left;
    font-size: 20pt;
    font-weight: bold;
}

#logoPic {
    height: 40px;
    width: auto;
}

.pageLinks {
    padding-right: 5%;
    display: block;
    padding-top: 0.5%;
    vertical-align: middle;
    height: 100%;
    float: right;
    font-size: 14pt;
    font-weight: bold;
    white-space: nowrap;
}

#landingPageLink {
    text-align: center;
    color: white;
    padding: 0% 2.5%;
    text-decoration: none;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}

#landingPageLink:hover {
    color: #FFB814;
}

#landingPageLink:active {
    color: #FFB814;
}

#productLink {
    color: white;
}

#missionLink {
    color: white;
}

#teamLink {
    color: white;
}

#preRegisterLink {
    color: white;
}

.mainText{
    font-family: "orkneybold";
    letter-spacing: 2.5px;
    position: relative;
    height: 100vh;
    width: 100%;
    text-shadow: 0px 2px 8px rgba(0,0,0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingpage h1 {
     color: white;
     font-size: 40pt;
     text-align: center;
     font-weight: bold;
     margin-top: 0;
 }

.landingpage h2 {
    color: white;
    font-family: "orkneybold";
    width: 100%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    font-size: 25pt;
    text-align: center;
    background-color: rgba(129,104,208, 0.80)
}

.madeSimple {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 8px rgba(0,0,0, 0.50);
    font-size: 14pt;
    background-color: #FFB814;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.madeSimpleText {
    font-family: "orkneyregular";
    padding-left: 15%;
    padding-right: 15%;
}

.howItWorks {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 8px rgba(0,0,0, 0.50);
    font-size: 14pt;
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../images/stairsCompressed.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.howItWorksText {
    font-family: "orkneyregular";
    alignment: left;
    padding-top: 2.5%;
    width: 40%;
    height: 100%;
    background-color: rgba(0,0,0, 0.45);
    padding-bottom: 5%;
}

.howItWorksBodyText {
    padding-left: 15%;
    padding-right: 15%;
}

#whatWereAboutHeader {
    font-style: normal;
}

.whatWereAbout {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 8px rgba(0,0,0, 0.50);
    font-size: 14pt;
    background-color: #25221F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.smartPeopleBlockHeader {
    font-style: italic;
}

.helpingOthersBlockHeader {
    font-style: italic;
}

.fastCheapEasyBlockHeader {
    font-style: italic;
}

.whatWereAboutText {
    font-family: "orkneyregular";
    padding-left: 15%;
    padding-right: 15%;
}

.blurbBlock {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slideInPhotoRight {
    display: inline-block;
    position: relative;
    float: right;
    width: 45%;
}
.slideInPhotoLeft {
    display: inline-block;
    position: relative;
    float: left;
    width: 45%;
}

.smartPeopleBlock {
    position: relative;
    padding-top: 5%;
    display: inline-block;
    float: left;
    width: 55%;
    height:100%;
    padding-bottom: 10%;
}

.helpingOthersBlock {
    position: relative;
    display: inline-block;
    padding-top: 2.5%;
    float: right;
    width: 55%;
    height: 100%;
    padding-bottom: 10%;
}

.fastCheapEasyBlock {
    position: relative;
    display: inline-block;
    padding-top: 2.5%;
    float: left;
    width: 55%;
    height: 100%;
    padding-bottom: 10%;
}

.teamPage {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 8px rgba(0,0,0, 0.50);
    font-size: 14pt;
    background-color: #FFB814;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.teamPageText {
    font-family: "orkneyregular";
    padding-left: 15%;
    padding-right: 15%;
}

.registrationPage {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 8px rgba(0,0,0, 0.50);
    font-size: 14pt;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../images/newYorkCompressed.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.registrationPageText {
    font-family: "orkneyregular";
    display: inline-block;
    position: relative;
    vertical-align:middle;
    width: 70%;
    height: 100%;
}

.registrationForm {
    position: relative;
    display: inline-block;
    vertical-align:middle;
    width: 25%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(0,0,0, 0.60);
}

.formTitle {
    font-family: "orkneybold";
    text-align: left;
    font-size: 14pt;
    padding-top: 5%;
    padding-left: 7.5%;
}

.formSubTitle{
    font-family: "orkneylight";
    text-align: left;
    font-size: 10pt;
    padding-left: 7.5%;
}

.registrationPageOverlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.125);
}

.registrationPageBodyText {
    padding-left: 15%;
    padding-right: 15%;
}


.landingPageBottom {
    position: relative;
    height: 20vh;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 8px rgba(0,0,0, 0.50);
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    background-color: #25221F;
}

.barterOutButton {
    font-family: "orkneybold";
    display: block;
    margin: 0 auto;
    background-color: #FF851F;
    color: white;
    border-radius: 25vh;
    border:0 none;
    width: 175px;
    height: 50px;
    font-size: 10pt;
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}

.barterOutButton:hover {
    background-color: #ff8d2d;
    color: black;
}

.barterOutButton:focus {
    outline: 0;
}

form{
    margin-top: 5%;
}
input[type=text] {
    font-family: orkneylight;
    font-size: 10pt;
    margin-bottom: 5%;
    width: 85%;
    border: 0 none;
    padding: 2.5% 5%;
    color: black;
}

input[type=email] {
    font-family: orkneylight;
    font-size: 10pt;
    margin-bottom: 5%;
    width: 85%;
    border: 0 none;
    padding: 2.5% 5%;
    color: black;
}

.firstName {
    margin-bottom: 2.5%;
}

.lastName {
    margin-bottom: 2.5%;
}

.email {
    margin-bottom: 2.5%;
}

#agreement {
    padding-left: 7.5%;
    padding-right: 7.5%;
}

#registerButton {
    position: relative;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 50%;
}

#registerButton:focus {
    outline: 0;
}

#applyButtonOne {
    margin-top: 2.5%;
}

#applyButtonTwo {
    margin-top: 2.5%;
}

.staffPhotos {
     margin: auto;
}

.adviserPhotos {
    margin: auto;
}

#staff {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    border-radius: 100%;
    margin: 2.5% 2.5%;
    max-width: 200px;
    width: 17.5vw;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

#team {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    border-radius: 100%;
    margin: 2.5% 2.5%;
    max-width: 200px;
    width: 17.5vw;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}


#team:hover {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    opacity: 0.50;
}

#profile {
    font-size: 10pt;
    font-style: italic;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

#applyLink {
    font-family: "orkneyregular";
    text-shadow: 0px 0px 0px;
}

#bottomLinksCol1 {
    font-family: "orkneylight";
    font-style: normal;
    float: left;
    padding-left: 5%;
    padding-top: 1%;
    font-size: 12pt;
    text-align: left;
}

#bottomLinksCol2 {
    font-family: "orkneylight";
    font-style: normal;
    float: left;
    padding-left: 5%;
    padding-top: 1%;
    font-size: 12pt;
    text-align: left;
}

#bottomPageLink {
    color: white;
    text-decoration: none;
}

#bottomPageLink:hover {
    color: #999
}

#buttonLink:hover {
    text-decoration: none;
}

#profileName {
    font-style: normal;
    font-weight: bold;
}

#bottomLinkHeader {
    font-family: "orkneybold";
    font-size: 14pt;
}

#copyright {
    font-family: "orkneyregular";
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #25221F;
    padding-bottom: 2.5%;
}

img{
    max-width: 490px;
    width: 45vw;
}

#socialMedia {
    text-align: center;
    justify-content: center;
    background-color: #25221F;
}

#logoImage {
    margin: 2.5% 0.5%;
    max-width: 50px;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
}

#logoImage:hover {
    opacity: 0.50;
}

#buttonLink {
    text-decoration: none;
}