.content {
  display: flex;
  width: 80vw;
  max-width: 750px;
  padding: 85px 0;
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
}

.header-line {
  background: #4E2B84;
  height: 1px;
  width: 86px;
  margin: 0 8px 8px 8px;
}

.text-header {
  color: #474747;
  font-size: 2.5rem;
  margin: 18px 0 0 0;
  font-family: "orkneymedium";
}

.careers-text {
  font-size: 1em;
}

.position-header {
  margin: 32px 0 8px 0;
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 85vw;
  }
}