.post {
  display: flex;
  flex-direction: row;
  background: white;
  font-size: 1.2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: 2px grey solid;
  font-size: 1.6em;
  border-radius: 20px;
  width: 90%;
  min-height: 100px;
  border: none;
  color: white;
  background: #9084f1;
  margin: 16px;
  padding: 8px;
}

span {
  margin: 4px;
}