.app-wrapper {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.right-content {
  display: flex;
  flex-direction: column;
  flex-grow: 11;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  background: #F8F9FA;
  height: 80vh;
  max-width: 1200px;
}

.stats-section {
  display: flex;
  flex-direction: row;
  width: 70%;
  max-width: 760px;
  justify-content: center;
}

.stat-wrap {
  width: 30%;
}

.marg {
  margin: 0 auto;
}

.stat-text {
  text-align: center;
  font-size: 2.3em;
  color: #E36700;
  margin: 16px 0;
}

.page-section-wrapper--stat {
  width: 100%;
  overflow-y: scroll;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #E1DEEC;
}
.page-section-wrapper--stat::-webkit-scrollbar {
  display: none;
}

.title--page-section-wrapper--stat {
  display: flex;
  flex-direction: column;
  background: #755F9F;
  width: 100%;
  min-height: 50px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 8px 16px;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .page-content {
    max-width: 100vw;
  }
  .stats-section {
    width: 90vw;
  }
}