.pageText h1 {
  font-family: "orkneybold";
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.wrapper-text {
  background-color: #FFF;
  text-indent: 2em;
  font-weight: normal;
  color: #262626;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.termsOfServicePage {
  font-family: "orkneyregular";
  color: black;
  font-size: 1.6em;
  height: 100%;
}

.pageText-text {
  width: 80vw;
  background: white;
  /* background-color: rgba(0,0,0,0.15); */
}

.para-terms {
  padding: 8px 0;
  line-height: 1.6em;
  text-indent: 2em;
  font-weight: normal;
  color: #262626;
}

#backLink {
  font-style: italic;
}