.inputs {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#login-header {
  margin: 8px 0;
}

.login-wrapper {
  display: flex;
  width: 40vw;
  max-width: 450px;
  border-radius: 5px;
  padding: 16px;
  flex-direction: column;
  align-items: left;
  margin: 32px auto;
  background: #FFF;
  /* color: #4547e2; */
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

@media only screen and (max-width: 860px) {
  .login-wrapper {
    width: 95vw;
    margin: auto;
  }
}