.insideInfo {
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  font-size: 1.3em;
  flex-wrap: wrap;
  margin: auto 0;
}

.dividePage {
  display: flex;
  flex-direction: row;
  margin: auto 8px;
}

.columns {
  margin: 0 2em;
  display: flex;
  flex-grow: 2;
  max-width: 200px;
  border: none;
  flex-direction: column;
}

.page-section-wrapper-settings {
  width: 90%;
  max-width: 700px;
  max-height: 500px;
  min-height: 100px;
  overflow-y: scroll;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: #E1DEEC;
  align-items: center;
  margin-bottom: 32px;
}

.title--page-section-wrapper-settings {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  background: #755F9F;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  min-height: 50px;
  margin-top: 8px;
  padding: 8px 16px;
  align-items: flex-start;
  justify-content: center;
}

.nav-link-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  padding-left: 6px;
  margin: 8px 32px;
  font-size: 2em;
  font-weight: bold;
  transition: all ease .1s;
}

.selected-settings-nav {
  border-left: 3px solid black;
}

.nav-link-settings:hover {
  border-left: 3px solid #FF8D00;
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .dividePage {
    flex-direction: column;
  }
  .page-section-wrapper-settings, .inside-info, .title--page-section-wrapper-settings{
    max-width: 95vw;
    min-width: 95vw;
  }
}