.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.inputLabel {
  margin: 4px 0 0 0;
  width: 90%;
  align-self: center;
}

select {
  margin: 8px 0;
}

#signup-success {
  color: #4E2B84;
}

.terms {
  margin: 0 8px 16px 0;
  border: none;
}

.schoolInput {
  width: 90%;
}

.schoolInput:focus {
  border: 1px solid #FF8D00;
}

.formInputSignup {
  background: none;
  border: none;
  width: 90%;
  margin: 0px 4px 24px 4px;
  font-size: 1.2em;
  border-bottom: 2px #41397c solid;
  color: #444;
}

.password-strength {
  display: block;
  width: 5%;
  margin-bottom: 8px;
  background: rgb(67, 182, 128);
  height: 3px;
  border-radius: 2px;
}
