$body-bg: #FDFDFD;
$body-color: #222;

$theme-colors: (
  primary: #41397C,
  secondary: #B55200,
  success: green,
  info: grey,
  warning: orange,
  danger: red
) !default;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";