* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.big-wrapper-custom {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100vw;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 0;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 3px;
  padding: 16px;
}

.inputForTextbook {
  height: 45px;
  border: none;
  margin: 8px 8px;
  font-size: 1em;
}

textarea:focus, input:focus{
  outline: none;
}

button:focus {outline:0;}

button {
  height: 40px;
  max-width: 100px;
}

.post-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

