.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #fff;
  color: #333;
  padding: 8px;
  border-bottom: #B9B9B9 1px solid;
}

.notification__date {
  color: #FF8D00;
  font-size: 1.2em;
}

.notification__message {
  font-size: 1.5em;
}