#cart-message {
  font-size: 1.4em;
  width: 70%;
  max-width: 760px;
}

#cart-totals {
  width: 70%;
  max-width: 760px;
  padding: 16px;
  text-align: right;
}

.cart__listItems {
  text-align: right;
}

.cart-money-info {
  font-size: 1.2em;
}